    <!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="~/images/background/subheader.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>About Us</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section>
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInRight">
                    <h2>Müştərilərə geniş çeşiddə <span class="id-color">kommersiya avtomobilləri</span> və <span class="id-color">lüks avtomobillər</span> təklif edirik.</h2>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay=".25s">
                    Rentaly olaraq, müştərilərimizə yüksək səviyyəli avtomobil icarə xidmətləri təqdim etməyə sadiqik. Keyfiyyət, rahatlıq və müştəri məmnuniyyətini əsas tutaraq, hər icarə təcrübəsinin problemsiz və xoş keçməsini təmin etməyə çalışırıq. Müştərilərimizin avtomobil icarəsinə dair fərqli ehtiyac və üstünlüklərə malik olduğunu anlayırıq. Buna görə də, müxtəlif tələblərə cavab verən, yaxşı saxlanılmış avtomobillərdən ibarət geniş bir parkı idarə edirik. Tək səyahət edənlər üçün kompakt avtomobillərdən tutmuş, ailələr üçün geniş SUV-lərə qədər müxtəlif seçimlərimiz mövcuddur.
                </div>
            </div>
            <div class="spacer-double"></div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                        <h3 class="timer" data-to="@ViewBag.OrderCount" data-speed="3000">0</h3>
                        Tamamlanmış sifarişlər
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                        <h3 class="timer" data-to="@ViewBag.UserCount" data-speed="3000">0</h3>
                        Məmnun müştərilər
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                        <h3 class="timer" data-to="@ViewBag.AdvCount" data-speed="3000">0</h3>
                        Avtoparkdakı avtomobillər
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                        <h3 class="timer" data-to="1" data-speed="3000">0</h3>
                        İllik təcrübə
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section aria-label="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h2>Xüsusiyyətlərin Vurğulanması</h2>
                    <div class="spacer-20"></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-3">
                    <div class="box-icon s2 p-small mb20 wow fadeInRight" data-wow-delay=".5s">
                        <i class="fa bg-color fa-trophy"></i>
                        <div class="d-inner">
                            <h4>Birinci sinif xidmətlər</h4>
                            Lüks və mükəmməl qayğının birləşdiyi yer, unudulmaz anlar yaratmaq və gözləntilərinizi aşmaq üçün.
                        </div>
                    </div>
                    <div class="box-icon s2 p-small mb20 wow fadeInL fadeInRight" data-wow-delay=".75s">
                        <i class="fa bg-color fa-road"></i>
                        <div class="d-inner">
                            <h4>24/7 yol yardımı</h4>
                            Ehtiyacınız olduqda etibarlı dəstək, sizi inam və rahatlıqla yolda saxlayır.
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <img src="~/images/misc/car.png" alt="" class="img-fluid wow fadeInUp">
                </div>

                <div class="col-lg-3">
                    <div class="box-icon s2 d-invert p-small mb20 wow fadeInL fadeInLeft" data-wow-delay="1s">
                        <i class="fa bg-color fa-tag"></i>
                        <div class="d-inner">
                            <h4>Minimum xərclə yüksək keyfiyyət</h4>
                            Keyfiyyəti artıraraq xərcləri minimuma endirən əlverişli üstünlükləri kəşf edin.
                        </div>
                    </div>
                    <div class="box-icon s2 d-invert p-small mb20 wow fadeInL fadeInLeft" data-wow-delay="1.25s">
                        <i class="fa bg-color fa-map-pin"></i>
                        <div class="d-inner">
                            <h4>Pulsuz götürmə və təhvil vermə</h4>
                            Avtomobil icarəsi təcrübənizə əlavə rahatlıq qataraq pulsuz götürmə və təhvil vermə xidmətlərindən yararlanın.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section-img-with-tab">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 offset-lg-7">

                    <h2>Müştərilər üçün Yalnız Keyfiyyət</h2>
                    <div class="spacer-20"></div>

                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Lüks</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Rahatlıq</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Prestij</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <p>Bazarın ən çox axtarılan lüks avtomobillərindən ibarət diqqətlə seçilmiş kolleksiya təqdim edirik. İstər yüksək performanslı idman avtomobillərinin idman cazibəsi, istər zərif və lüks sedan, istərsə də premium SUV-un çoxfunksiyalılığı olsun, seçici zövqünüzə uyğun mükəmməl avtomobilimiz var.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <p>Sizin rahatlığınızı və rahat səyahətinizi üstün tuturuq. Rahat səfərin işgüzar səfərlərdən tutmuş istirahət tətillərinə qədər böyük fərq yaratdığını anlayırıq. Bu səbəbdən xüsusi ehtiyaclarınıza uyğun olan geniş çeşiddə yaxşı saxlanılmış, rahat avtomobillər təklif edirik.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <p>Prestijin yalnız lüksdən ibarət olmadığını anlayırıq. Bu, bir bəyanat vermək, zərifliyi əhatə etmək və həyatın daha incə detallarından həzz almaqdır. Buna görə də, zəriflik, üslub və statusu ifadə edən eksklüziv prestijli avtomobillər seçimi təqdim edirik.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="image-container col-md-6 pull-right" data-bgimage="url(images/background/5.jpg) center"></div>
    </section>


    <section style="background-color:forestgreen" id="section-call-to-action" class="bg-color-2 pt60 pb60 text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <h2 class="s2">Əlavə məlumat üçün bizə zəng edin. Rentaly müştəri xidməti sizə istənilən vaxt kömək etməyə hazırdır.</h2>
                </div>

                <div class="col-lg-4 text-lg-center text-sm-center">
                    <div class="phone-num-big">
                        <i class="fa fa-phone"></i>
                        <span class="pnb-text">
                            İndi Zəng Edin
                        </span>
                        <span class="pnb-num">
                            1 200 333 800
                        </span>
                    </div>
                    <a href="#" class="btn-main">Bizimlə Əlaqə</a>
                </div>
            </div>
        </div>
    </section>
    

</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>