@using Rent_A_Car.BL.DTOs.Auth

@{
	ViewData["Title"] = "Login";
}
@model LoginDTO
<!-- content begin -->
<div class="no-bottom no-top" id="content">
	<div id="top"></div>
	<section id="section-hero" aria-label="section" class="jarallax">
		<img src="~/images/background/2.jpg" class="jarallax-img" alt="">
		<div class="v-center">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4 offset-lg-4">
						<div class="padding40 rounded-3 shadow-soft" data-bgcolor="#ffffff">
							<h4>Login</h4>
							@if (TempData["SuccessMessage"] != null)
							{
								<div class="alert alert-success">
									@TempData["SuccessMessage"]
								</div>
							}

							<div class="spacer-10"></div>
							<form class="form-border" method="post">
								<div class="field-set">
									<input asp-for="UsernameOrEmail" type="text" class="form-control" placeholder="Username or Email" />
									<span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
								</div>
								<div class="field-set">
									<input asp-for="Password" type="password" class="form-control" placeholder="Password" />
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
								<div class="field-set" >
									<div class="form-check form-switch">
										<input asp-for="RememberMe" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
										<label class="form-check-label" for="flexSwitchCheckDefault">Remember Me</label>
									</div>
									<br>
								</div>
								<div class="form-group row" asp-validation-summary="ModelOnly">
								</div>

								<div class="field-set">

									<a style="color:darkblue;text-decoration:underline" asp-action="ForgotPassword" asp-controller="Account">Forgot Password</a>

								</div>

								<br />

								<div class="col-md-12">

									<div class="col-lg-3">
										<button type="submit" style="background-color:forestgreen;" class="btn btn-primary">Login</button>
									</div>

								</div>
							</form>
							
							
							<div class="row g-2">								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- content close -->
