@using Rent_A_Car.BL.DTOs.Auth
@{
    ViewData["Title"] = "Register";
}
@model RegisterDTO
<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="~/images/background/subheader.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Register</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->


    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h3>Hesabınız yoxdur? İndi qeydiyyatdan keçin.</h3>
                    <p>Rentaly-ə xoş gəldiniz. Sizi burada görməkdən məmnunuq. Bizimlə hesab yaradaraq, avtomobil icarənizi daha rahat və üstünlüklərlə dolu bir təcrübəyə çevirəcək bir sıra imkanlara sahib olacaqsınız.</p>

                    <div class="spacer-10"></div>

                    <form class="form-border" method="post">

                        <div class="row">

                            <div class="col-md-6">
                                <div class="field-set">
                                    <label>Full Name:</label>
                                    <input asp-for="Fullname" type='text' class="form-control">
                                    <span asp-validation-for="Fullname" class="text-danger"></span>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="field-set">
                                    <label>Choose a Username:</label>
                                    <input asp-for="Username" type='text' class="form-control">
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="field-set">
                                    <label>Email Address:</label>
                                    <div class="input-group">
                                        <input asp-for="Email" type='text' class="form-control" id="emailInput">                                        
                                    </div>                                    
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            

                            <div class="col-md-6">
                                <div class="field-set">
                                    <label>Password:</label>
                                    <input asp-for="Password" type='password' class="form-control">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="field-set">
                                    <label>Re-enter Password:</label>
                                    <input asp-for="RePassword" type='password' class="form-control">
                                    <span asp-validation-for="RePassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row" asp-validation-summary="ModelOnly"></div>

                            <div class="col-md-12">
                                <div class="col-lg-3">
                                    <button type="submit" style="background-color:forestgreen" class="btn btn-primary">Register</button>
                                </div>
                            </div>

                        </div>
                    </form>


                </div>
            </div>
        </div>
    </section>


</div>
<!-- content close -->

<a href="#" id="back-to-top"></a>

